
@page "/data"
@model web_app.Pages.DataModel
@{
    ViewData["Title"] = "Employees";
}

<h2>Employees</h2>

@if (TempData["SuccessMessage"] is string smsg)
{
    <div class="alert alert-success">@smsg</div>
}
@if (TempData["WarningMessage"] is string wmsg)
{
    <div class="alert alert-warning">@wmsg</div>
}

<partial name="~/Pages/Shared/_Table.cshtml" model="Model.Employees" />
