
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="p-4 text-center"><h2>Employee Datails Addition Form</h2></div>

<partial name="_EmpForms" />
@section Scripts {
    <partial name="_EmpFjs" />
}
